/* .header-menu {
    align-items: center;
}

.header-menu {
    display: table;
    text-align: right;
    font-family: Muli, sans-serif;
    font-size: 13px;
    padding: 0px;
}

.header-menu ul{

} */
body {
    background-color: blue;

}
.header-menu li {
    display: inline;
    vertical-align: middle;
    height: 100%;
    padding: 34.5px 10px 34.4px 10px;
    clear: left;
}
/* 
header ul {
    padding: 0px;
    margin: 0px;
    display: table;
} */