{% extends 'base/base.html' %}

{% load static %}

{% block title%}
<title>Author</title>
{% endblock %}

{% block blog %}Blog{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12-md">
            <img src="{% static 'img/profpic.png'%}" style="width: 700px; margin-top: 50px; margin-left: 220px; margin-bottom: 10px;">
        </div>
    </div>
    <div class="row">
        <div class="col-12-md">
            <h4 style="padding: 15px;">Resita Sri Wahyuni</h4>  
        </div>
    </div>

    <div class="summary col-12-md">
        <p>
            Hajimemashite, Resita desu. A nerd who loves both mathematics and cats. Berhubung saya bingung akan diisi apa halaman ini, jadi saya akan berikan sepotong puisi dari Sapardi Djoko Damono
        </p>
        <p style="font-style: italic">
                aku ingin mencintaimu dengan sederhana <br>
                dengan kata yang tak sempat diucapkan <br>
                kayu kepada api yang menjadikannya abu <br>
                <br>
                aku ingin mencintaimu dengan sederhana <br>
                dengan isyarat yang tak sempat disampaikan <br>
                awan kepada hujan yang menjadikannya tiada
        </p>

        <table style="margin-bottom: 20px;">
            <tr>
                <td>Alamat</td>
                <td>: Di balik awan</td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td>: 08127943275</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>: ST(eler)</td>
            </tr>
            <tr>
                <td>Profession</td>
                <td>: Seiyuu</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>: Indonesian</td>
            </tr>
            <tr>
                <td>Company</td>
                <td>: Tokyo Animation co.ltd</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>: kocengoren@kyoani.jp</td>
            </tr>
            <tr>
                <td>Adress</td>
                <td>: Untuk apa lagi ?</td>
            </tr>
        </table>

    </div>

    <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.3142334800405!2d112.60828181423398!3d-7.966441481606179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sen!2sid!4v1563886134990!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0; width: 1110px; margin-bottom: 20px;" allowfullscreen></iframe>
    </div>

</div>
{% endblock %}