{% extends 'base/base.html' %}

{% load static %}

{% block title%}
<title>Artikel</title>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row" style="margin: 50px;">
        <div class="col-12">
            <img src="https://i.postimg.cc/zfD1cgMf/sms.png" style="width: 100%">
        </div>
        <div class="col-6 tanggal">
            <p>Aug. 14,2018</p>
        </div>
        <div class="col-6 komen" style="text-align: right;">
            <p>0 Comments</p>
        </div>
        <div class="col-12" style="display: block; align-content: center;">            
            <h3>OTP, Si Kode Rahasia nan Berbahaya</h3>
        </div>
        <div class="col-12">
            <div class = "post_body">
                Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk Anda dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah.

Sebelum kita membahas lebih jauh, mari kita kenali lebih dalam salah satu tahapan otentikasi, yaitu kode OTP (One Time Password) atau kata sandi sekali pakai yang digunakan untuk transaksi online maupun login akun. Kode OTP terdiri darikombinasi angka yang bersifat unik, dan rahasia. Kode ini dikirimkan melalui SMS oleh pihak bank, aplikasi, atau operator dengan masa berlaku setiap kode selama 5 menit. Kode ini ditujukan sebagai bentuk keamanan dalam mengkonfirmasi login atau konfirmasi transaksi online.

Kode OTP ini sebenarnya ditujukan untuk keamanan, namun ketidakwaspadaan nasabah dimanfaatkan sebagai kesempatan oleh pelaku penipuan. Awalnya, korban akan menerima SMS berisikan kode OTP untuk transaksi atau login akun yang tidak dilakukan. Tidak lama kemudian, pelaku akan menghubungi korban dengan berpura-pura menjadi Customer Service atau karyawan dari instansi terkait. Mulai dari iming-iming hadiah hingga transaksi mencurigakan, pelaku akan meminta kode OTP yang korban terima sebagai bentuk verifikasi. Seribu satu cara pelaku lakukan, tidak jarang diikuti dengan tindakan pemaksaan dan ancaman. Padahal, tidak ada pihak manapun yang berhak meminta serta menggunakan kode OTP tersebut selain penggunanya sendiri.

Mengapa kode OTP rentan disalahgunakan? Karena jika pelaku penipuan berhasil mendapat kode OTP, maka keamanan perbankan atau aplikasi yang korban miliki tidak lagi terjamin aman. Pelaku akan menggunakan informasi korban untuk melakukan berbagai tindak kriminal seperti, penyalahgunaan Kartu Kredit untuk transaksi-transaksi besar, pencurian dana di rekening korban, penipuan melalui akun email atau aplikasi chat korban, pemerasan, dll. Jadi, sangat besar dampak dan bahayanya jika kode OTP jatuh ke tangan yang salah. 
            </div>
        </div>
    </div>
</div>

{% endblock %}